*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #609EA2;
    transition: 0.5s;
}

.container{
    width: 80%;
    max-width: 800px;
    background-color: #F0EEED;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
}

.titulo{
    float: left;
    width: 100%;
    color: #332C39;
    margin-bottom: 10px;
}

.menu_navegacao{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #C92C6D;
}

li{
    float: left;
}

.menu_navegacao li a{
    text-decoration: none;
    display: block;
    color: #F0EEED;
    font-size: 20px;
    width: 100%;
    padding: 15px;
}

.menu_navegacao li a:hover{
    opacity: 0.9;
    color: #332C39;
    background-color: #F0EEED;
}

.clear{
    clear: both;
}

.diogo{
    
    width: 50%;
    border-style: solid;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.descricao{
    text-align: center;
}

.lateral_esquerda{
    width: 40%;
    padding: 8px;
    float: left;
    text-align: center;

}

.textodireito{
    height: 100%;
    margin-top: 100px;
    width: 60%;
    float: left;
    text-align: justify;
    padding: 8px;
}

.rodape{
    float: left;
    width: 100%;
    text-align: center;
    color: #F0EEED;
    background-color: #332C39;
}

h1{
    margin: 0;
    padding: 0;
    display: inline;
}